@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #c4cef2;
    min-height: 100vh;
    font-family: Oswald;
}
h1 {
    font-size: 50px;
    font-weight: bold; 
    color: #404258;
    margin-bottom: 10px;
    text-align: center;
}
.bottom-line
{
    display:block;
    border:none;
    height:1.5px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#40425871), to(rgba(255, 255, 255, 0)));
    margin-bottom: 30px;
}
.bottom-line2
{
    display:block;
    border:none;
    height:1.5px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#40425871), to(rgba(255, 255, 255, 0)));
    margin-top: 40px;
    margin-bottom: 40px;
}
p
{
    text-align: center;
    font-size: 25px;
    margin-inline: 70px ;
}
img
{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  mix-blend-mode: multiply;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 40%;
    padding: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 25px;
}

.grid-item1 {
    border: 2px solid #404258;
    border-radius: 5px;
    font-size: 20px;
}